@import "node_modules/compass-mixins/lib/compass";
@import "variables.scss";

.feed {
  .feed-content {
    padding-bottom: 20px;
  }

  .feed-item {
    position: relative;
    background-color: $white;
    border: 1px solid $gray-ltr;
    margin-bottom: 10px;
    border-radius: 3px;
  }

  .photo {
    position: absolute;
  }

  .info {
    float: left;
    padding-left: 220px;
    width: 100%;
    min-height: 100px;
  }

  .title {
    margin: 0.15em 0px 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .author, .published, .view-flicker{
    margin-right: 5px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .author {
    width: 100px;
  }

  .published {
    width: 220px;
  }

  .published.small {
    display: block;
  }

  .published.big {
    display: none;
  }

  .view-flicker {
    width: 100px;
  }

  .img-cover {
    height: 100px;
    width: 200px;
  }

  @media only screen and (min-width: 40.063em) {
    .info {
      min-height: 120px;
    }
    .img-cover {
      height: 120px;
    }
  }

  @media only screen and (min-width: 800px) {
    .title {
      margin: 0.1em 0px 0.3em 0;
    }

    .published.small {
      display: none;
    }
    .published.big {
      display: inline-block;
    }
  }
}
