@import "node_modules/compass-mixins/lib/compass";
@import "variables.scss";

.feed {
  .feed-item {
    background-color: $white;
    border: 1px solid $gray-ltr;
    margin-bottom: 50px;
    border-radius: 3px;
  }
  .meta {
    display: inline-block;
  }
}
