.item-detail {

  .subnav-bottom {
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .title {
    display: inline-block;
  }

  .back {
    margin-top: 5px;
    float: right;
    display: inline-block;
  }

  .author {
    margin-right: 5px;
    display: inline-block;
  }

  .published {
    display: inline-block;
  }

  .info {
    position: relative;
  }

  .photo {
    position: absolute;
  }

  .meta {
    padding: 20px;
    display: inline-block;
    margin-left: 250px;
    //white-space : nowrap;
  }

  .tags {
    margin-top: 25px;
    display: block;
    .tag-link {
      display: inline-block;
      margin: 0 5px 5px 0;
      background-color: #cfd6d9;
      border-radius: 5px;
      padding: 3px 5px;
    }
  }
}
