@import "variables.scss";
@import "mixins.scss";
@import "~breakpoint-sass/stylesheets/breakpoint";

.item-detail {
  .subnav-bottom {
    margin-top: 0.2em;
    margin-bottom: 2.4em;
  }

  .subnav-top {
    position: relative;
  }

  .title {
    display: inline-block;
    padding-right: 8.5em;
  }

  .back {
    position: absolute;
    right: 0;
    top: 0.2em;
  }

  .btn-back {
    transition: none;

    padding-left: 1em;
    padding-right: 1em;
    z-index: 1;

    &:hover, &:focus {
      background: $btn-color;
    }

    &::before {
      background: $btn-color;
      transition: none;
      border: none;
      content: '';
      display: block;
      height: 2.2em;
      left: -1.1em;
      position: absolute;
      top: 0.55em;
      @include transform(rotate(45deg));
      width: 34px;
      z-index: -1;
    }
  }

  .author {
    margin-right: 0.35em;
    display: inline-block;
  }

  .published {
    display: inline-block;
  }

  .meta {
    display: inline-block;
    margin-top: 2.5em;
  }

  .tags {
    margin-top: 2em;
    display: block;
    .tag-link {
      display: inline-block;
      margin: 0 0.5em 0.5em 0;
      background-color: $gray;
      border-radius: 0.4em;
      padding: 0.2em 0.2em;
    }
  }

  @include breakpoint($m-breakpoint) {
    .info {
      position: relative;
    }

    .photo {
      position: absolute;
    }

    .meta {
      padding: 0 0.9em 0.9em 0.9em;
      margin-left: 16em;
      margin-top: 0em;
    }

    .btn-back {
      padding-left: 1em;
      padding-right: 1em;
    }
  }
}
